<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" th:href="@{/admin/layui/css/layui.css}">
    <script th:src="@{/admin/layui/layui.js}"></script>
    <script th:src="@{/admin/scripts/jquery.min.js}"></script>

    <link rel="stylesheet" th:href="@{/admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/admin/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/admin/layui/css/layui.css}" media="all">
    <script type="text/javascript" th:src="@{/admin/layui/layui.js}" charset="utf-8"></script>

    <title>用户添加</title>
    <style>
        body {
            padding: 10px;
        }
    </style>
</head>

<body>
<form class="layui-form layui-form-pane1" th:action="@{/movie/admin/addMovie}" id="subform" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">电影名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" required placeholder="请输入电影名称"
                   autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">产地</label>
        <div class="layui-input-block">
            <input type="text" name="place" lay-verify="required" required placeholder="请输入产地"
                   autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">分类</label>
        <div class="layui-input-block">
            <select name="sortId" lay-filter="adminRole">
                <option value="">请选择分类</option>
                <option th:each="sortList:${sortList}" th:value="${sortList.id}" th:utext="${sortList.name}">
                    All genres
                </option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <input hidden="hidden" name="poster" id="poster">
        <label class="layui-form-label">海报</label>
        <div class="grid-demo grid-demo-bg1">
            <div class="layui-upload-drag" id="uploadPoster">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="layui-hide" id="uploadPosterView">
                    <hr>
                    <img src="" alt="上传成功后渲染" style="max-width: 196px">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">电影简介</label>
        <div class="layui-input-block">
            <textarea name="email" lay-verify="required|title" required placeholder="请输入简介" autocomplete="off"
                      class="layui-input"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <input hidden="hidden" name="playAddress" id="playAddress">
        <label class="layui-form-label">上传电影资源</label>
        <div class="grid-demo grid-demo-bg1">
            <div class="layui-upload-drag" id="uploadMovie">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="layui-hide" id="uploadMovieView">
                    <hr>
                    <img src="" alt="上传成功后渲染" style="max-width: 196px">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*" type="submit">添加</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<br><br><br>

<script>
    //加载layui信息
    layui.use(['form', 'upload'], function () {
        var form = layui.form,
            upload = layui.upload;

        //拖拽上传
        upload.render({
            elem: '#uploadMovie'
            ,accept: 'video' //普通文件
            ,url: '/film/movie/admin/uploadMovie' //改成您自己的上传接口
            ,done: function(res){
                if (res.code == "0"){
                    layer.msg('上传成功');
                    console.log(res)
                    $("#playAddress").val(res.movieUrl);
                } else {
                    layer.msg('上传失败');

                }

            }
        });

        //拖拽上传
        upload.render({
            elem: '#uploadPoster'
            ,accept: 'file' //普通文件
            ,url: '/film/movie/admin/uploadPoster' //改成您自己的上传接口
            ,done: function(res){
                if (res.code == "0"){
                    layer.msg('上传成功');
                    console.log(res)
                    $("#poster").val(res.posterUrl);
                } else {
                    layer.msg('上传失败');
                }

            }
        });

        //layui日期选择
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#createTime', //指定元素
                value: new Date()
            });
        });


        //监听提交
        form.on('submit(*)', function (data) {
            var subform = $(parent.document.body).children("div[id='mianFromDiv']").append($("#subform"));
            //获取窗口索引,关闭弹窗
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
            alert(data);
            //发送请求
            $("#subform").submit();
        });

    });

</script>

</body>
</html>
