<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>用户用户管理</title>
		<link rel="stylesheet" th:href="@{/admin/css/font.css}">
	    <link rel="stylesheet" th:href="@{/admin/css/xadmin.css}">
	    <link rel="stylesheet" th:href="@{/admin/layui/css/layui.css}" media="all">
	    <link rel="stylesheet" th:href="@{/admin/css/amazeui.min.css}"/>
	
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/admin/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/admin/js/xadmin.js}"></script>
	</head>
	
	<body>
	<div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" action="" id="searchByInfo"  method="post">      
          <input type="text" name="name" id="name" placeholder="输入查询分类名" autocomplete="off" class="layui-input">
          <button class="layui-btn" type="button" onclick="searchSorts()"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>       
        <button class="layui-btn" onclick="x_admin_show('添加分类','/admin/addSort')"><i class="layui-icon"></i>添加</button>
        <a href="">
        <span class="x-right" style="line-height:40px">
        <button class="layui-btn"><i class="layui-icon">&#xe65c;</i>返回</button>
        </span>
        </a>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>分类名</th>
            <th>操作</th>
        </thead>
        <tbody id="sortTableBody">
          <tr th:each="sort:${sortList}">
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td th:utext="${sort.name}">1</td>
                   
            <td class="td-manage">           
              <a onclick="stuInfo_stop(this,'${adm.admin_id}')" href="javascript:;"  title="启用">
                <i class="layui-icon">&#xe601;</i>
              </a>         
              <a title="编辑" th:onclick="|editSort(${sort.id})|" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
              </a>
              <a title="删除" th:onclick="|deleteSort(${sort.id})|" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      </div>

    <!--page begin-->
    <div th:replace="admin/user::pagination">
        <div class="am-cf">
            共30 条记录, 每页  6条, 当前为  1 页
            <div class="am-fr">
                <ul class="am-pagination">
                    <li><a href="javascript:;" onclick="admin_getFirstPage(this,'${sessionScope.currentPage}')" >首页</a></li>
                    <li><a href="javascript:;" onclick="admin_getPriverPage('${sessionScope.dataCount}','${sessionScope.currentPage}')" >上一页</a></li>
                    <li><a href="javascript:;" onclick="admin_getNextPage('${sessionScope.dataCount}','${sessionScope.currentPage}')" >下一页</a></li>
                    <li><a href="javascript:;" onclick="admin_getLastPAge(this,'${sessionScope.dataCount}')" >尾页</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--page end  -->
 
 
 <!--用户操作使用form表单提交信息-->
 <form action="" id="adminsendOrder" name="adminsendOrder" method="post">
 </form> 
 <!--设置用来接受弹出窗口的整个form表单-->
 <div id="mianFromDiv" style="display:none;">
 </div>

<script>
//layui自启动
layui.use('layer', function(){
  $('.demo').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
});

 /*用户-停用*/
 function admin_stop(obj,id){
    layer.confirm('确认要冻结吗？',function(index){
    if($(obj).attr('title')=='启用'){
      $("#adminsendOrder").attr("action","${pageContext.request.contextPath}/AdminServlet?action=freezeAdm&admin_id="+id +"&statue=0").submit();
      layer.msg('已冻结!',{icon: 5,time:1000});
    }else{
      $("#adminsendOrder").attr("action","${pageContext.request.contextPath}/AdminServlet?action=freezeAdm&admin_id="+id+"&statue=1").submit();
      layer.msg('正常!',{icon: 5,time:1000});
    }   
    });
   }

//用户自定义相关函数
function admin_delete(obj,getid){  
	layer.confirm('确定删除？', {btn: ['确定','取消']},
	 function(){
        //发送删除的请求
        $("#adminsendOrder").attr("action","${pageContext.request.contextPath}/AdminServlet?action=delAdmData&admin_id="+getid).submit();
        layer.msg('已经删除', {icon: 1});
      }, function(){
        layer.msg('取消删除', {});
      });
}


//信息编辑
function editSort(id){
    layer.open({
        type: 2,
        area: ['700px', '450px'],
        fixed: false, //不固定
        shadeClose: true,
        maxmin: true,
        content: CONTEXT_PATH + "/admin/getEditSortPage/" + id,
        end: function() {
            location.reload();
        }
    });
}

 function deleteSort(id) {
     layui.use(['table','form','jquery'], function() {
         var table = layui.table;
         var form = layui.form;
         var $ = layui.jquery;

         layer.confirm('确定删除？', {btn: ['确定','取消']}, function(){
             //发送删除的请求
             $.ajax({
                 url: CONTEXT_PATH + "/sort/admin/deleteSort/" + id,
                 dataType: "json",
                 success: function (data) {
                     if (data.code == 0) {
                         layer.msg('删除成功', {icon: 1}, {time: 10});
                         setTimeout(function () { location.reload() }, 2000);
                     } else {

                     }
                 }
             })
         }, function(){
             layer.msg('取消删除', {});
         });
     });
 }

function searchSorts() {
    let name = $("#name").val();
    $.ajax({
        url: CONTEXT_PATH + "/sort/admin/searchSorts",
        data: {
            "name": name
        },
        dataType: "json",
        success: function (data) {
            $("#sortTableBody").empty();
            if(data) {
                for (let i=0;i<data.length;i++) {
                    let sort = data[i];
                    let html = '<tr>\n' +
                        '<td>\n' +
                        '  <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id=\'2\'><i class="layui-icon">&#xe605;</i></div>\n' +
                        '</td>\n' +
                        '<td>#{name}</td>\n' +
                        '       \n' +
                        '<td class="td-manage">           \n' +
                        '  <a onclick="stuInfo_stop(this,\'${adm.admin_id}\')" href="javascript:;"  title="启用">\n' +
                        '    <i class="layui-icon">&#xe601;</i>\n' +
                        '  </a>         \n' +
                        '  <a title="编辑"  onclick="stuInfo_edit(\'编辑\',\'${adm.admin_id}\')" href="javascript:;">\n' +
                        '    <i class="layui-icon">&#xe642;</i>\n' +
                        '  </a>\n' +
                        '  <a title="删除" onclick="deleteSort(#{id})" href="javascript:;">\n' +
                        '    <i class="layui-icon">&#xe640;</i>\n' +
                        '  </a>\n' +
                        '</td>\n' +
                        '</tr>';
                    console.log(sort.name);
                    html = html.replace(/#{name}/g, sort.name);
                    html = html.replace(/#{id}/g, sort.id);
                    $("#sortTableBody").append(html);
                }
            }
        }
    })
}
  
</script>
	</body>
</html>
