<!-- PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- 引入样式文件和动态控制 -->
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{admin/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/admin/js/bootstrap.min.js}"></script>
    <title>后台管理界面二</title>
</head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
电影管理
</body>
</html>