<!-- PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- 引入样式文件和动态控制 -->
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{admin/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/admin/js/bootstrap.min.js}"></script>
    <title>电影评价管理系统</title>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <p>电影评价管理系统</p>
<!--                <img src="<%=path %>/images/a.jpg" height="100%" />-->
            </a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a class="icon-bar" href="#">网站设置</a>
                </li>
                <li><a th:href="@{/admin/film}">电影管理</a>
                </li>
                <li><a href="#">城市管理</a>
                </li>
                <li><a href="#">商品管理</a>
                </li>
                <li><a href="#">订单管理</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>欢迎您,admin</a>
                </li>
                <li><a href="#">安全退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <ul id="no1" class="nav nav-pills nav-stacked">
                <li class="liClass">
                    <a href="#no2" class="collapsed" data-toggle="collapse"><span class="glyphicon glyphicon-stats"></span> 统计图表</a>
                    <ul id="no2" class="nav nav-pills nav-stacked collapse">
                        <li class="liClass"><a href="chart/activity/index.html" target="workareaFrame">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span> 市场活动统计图表</a></li>
                        <li class="liClass"><a href="chart/clue/index.html" target="workareaFrame">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span> 线索统计图表</a></li>
                        <li class="liClass"><a href="chart/customerAndContacts/index.html" target="workareaFrame">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span> 客户和联系人统计图表</a></li>
                        <li class="liClass"><a href="chart/transaction/index.html" target="workareaFrame">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span> 交易统计图表</a></li>
                    </ul>
                </li>
            </ul>
            <a href="#" class="list-group-item active"><span class="glyphicon glyphicon-home"></span>商品管理
            </a>
            <a href="#" class="list-group-item">
                <!-- 小图标样式设置 -->
                <span class="glyphicon glyphicon-search" aria-hidden="true">
                    </span>VIP客户查询</a>
            <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-align-left" aria-hidden="true">
                    </span>VIP客户录入</a>
            <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-camera" aria-hidden="true">
                    </span>VIP客户消费</a>
            <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true">
                    </span>VIP客户增加</a>
            <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true">
                    </span>VIP客户删除</a>
            <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-search" aria-hidden="true">
                    </span>VIP客户注销</a>
            <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-user" aria-hidden="true">
                    </span>个人设置</a>
        </div>
        <!--左边菜单栏-->
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="active">菜单
                </li>
                <li class="active">vip客户信息
                </li>
            </ol>

            <div class="panel panel-default">
                <div class="panel-heading">
                    搜索
                </div>
                <div class="panel-body">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="name">名称</label>
                            <input type="text" class="form-control" id="name" placeholder="请输入名称">
                        </div>
                        <div class="form-group">
                            <label for="name">状态</label>
                            <select class="form-control">
                                <option>上架</option>
                                <option>下架</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">开始搜索</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--
                列表展示
            -->
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>图标</th>
                        <th>名称</th>
                        <th>价格</th>
                        <th>邮费</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>15</td>
                        <td>
                            <img src="images/a.jpg" class="img-thumbnail" style="height: 30px;" />
                        </td>
                        <td>宝马</td>
                        <td>1800000.00￥</td>
                        <td>1800000.00￥</td>
                        <td>上架</td>
                        <td>
                            <div class="btn-group">
                                <a href="" class="btn btn-default">修改</a><a href="" class="btn btn-default">下架</a><a href="" class="btn btn-danger">删除</a>
                            </div>

                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <ul class="pagination" style="float: left;">
                <li><a href="#">&laquo;</a>
                </li>
                <li class="active"><a href="#">1</a>
                </li>
                <li class="disabled"><a href="#">2</a>
                </li>
                <li><a href="#">3</a>
                </li>
                <li><a href="#">4</a>
                </li>
                <li><a href="#">5</a>
                </li>
                <li><a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 底部页脚部分 -->
<div class="footer">
    <p class="text-center">
        2018 &copy; 柒晓白.
    </p>
</div>
</body>

<script type="text/javascript" src="/jquery-1.11.1-min.js"></script>
<script type="text/javascript" th:src="@{/admin/js/bootstrap.min.js}"></script>
<script type="text/javascript">

    //页面加载完毕
    $(function(){

        //导航中所有文本颜色为黑色
        $(".liClass > a").css("color" , "black");

        //默认选中导航菜单中的第一个菜单项
        $(".liClass:first").addClass("active");

        //第一个菜单项的文字变成白色
        $(".liClass:first > a").css("color" , "white");

        //给所有的菜单项注册鼠标单击事件
        $(".liClass").click(function(){
            //移除所有菜单项的激活状态
            $(".liClass").removeClass("active");
            //导航中所有文本颜色为黑色
            $(".liClass > a").css("color" , "black");
            //当前项目被选中
            $(this).addClass("active");
            //当前项目颜色变成白色
            $(this).children("a").css("color","white");
        });


        window.open("main/index.html","workareaFrame");

    });

</script>
</html>